html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  height: 100%;
  width: 100%;
   background: linear-gradient(to bottom right, lightblue, white, lightcoral);
}

h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}